
body{
    background-color:hsl(212, 45%, 89%);
    padding-top: 8%;
}

.card {
    box-shadow: 6px 6px 24px -20px hsl(228, 15%, 55%);
    width: 310px;
    height: 460px;
    background-color:hsl(0, 0%, 100%);
}

div{
    text-align:center;
    margin: auto;
    border-radius: 15px;
    padding-top: 15px
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.fontOutfit{
    font-family: 'Outfit', sans-serif;
}

img{
    margin: auto;
    display: block;
    border-radius: 10px;
    width: 275px;
    height: 275px;
}

.header {
    font-size: 1.3rem;
    color: hsl(218, 44%, 22%);
    font-weight:700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.para{
font-weight: 400;
font-size: 15px;
color: hsl(220, 15%, 55%)
}

.bottom {
position: fixed;
bottom: 10px;
}

.attribution { font-size: 11px;display:flex; align-items:center;justify-content: center;}
.attribution a { color: hsl(228, 45%, 44%); }
