
* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

body{
    background-color:hsl(212, 45%, 89%);
    padding-top: 8%;
}

.card {
    box-shadow: 6px 6px 24px -20px hsl(228, 15%, 55%);
    width: 310px;
    height: 460px;
    background-color:hsl(0, 0%, 100%);
}

div{
    text-align:center;
    margin: auto;
    border-radius: 15px;
    padding-top: 15px
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.fontOutfit{
    font-family: 'Outfit', sans-serif;
}

img{
    margin: auto;
    display: block;
    border-radius: 10px;
    width: 275px;
    height: 275px;
}

.header {
    font-size: 1.4rem;
    font-weight:700;
}

.para{
font-weight: 400;
font-size: 15px;
color: hsl(220, 15%, 55%)
}

.bottom {
position: fixed;
bottom: 10px;
}

.attribution { font-size: 11px;display:flex; align-items:center;justify-content: center;}
.attribution a { color: hsl(228, 45%, 44%); }
